<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="｢Good Living 友の会｣は、日本の住宅産業を支えるさまざまな事業者さまが参加する、業界最大級のVC（ボランタリーチェーン）です。">
	<meta name="keywords" content="Good Living">

	<!-- 共通JS（head内版） -->
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<!-- <script type="text/javascript" src="/js/gtm.js"></script> -->
	<!-- <script type="text/javascript" src="/js/ga.js"></script> -->

	<!-- 共通CSS -->
	<link rel="stylesheet" href="/css/common.css" type="text/css">

	<!-- ページ専用CSSを記載 -->

	<title>タイトルが入ります | Good Living友の会</title>
</head>


<body>

	<!-- ヘッダー-->
	<header id="header"></header>

	<main class="">

		<!-- パンくず -->
		<div class="breadcrumb inner">
			<ul class="clearfix">
				<li><a href="/">TOP</a></li>
				<li>コンテンツ名</li>
			</ul>
		</div>

<!-- ↓↓↓ ここからメインコンテンツ ↓↓↓ -->
<div class="main_contents">





</div>
<!-- ↑↑↑ ここまでメインコンテンツ ↑↑↑ -->

	</main>

	<!-- フッター -->
	<footer id="footer"></footer>

	<!-- 共通JS -->
	<script src="/js/anchorScroll.js"></script>
	<script src="/js/script.js"></script>

	<!-- ページ専用JSを記載 -->

</body>
</html>
