<section class="contact">
  <div class="inner">
    <h2 class="ttl ttl--contact ttl--border">各種お問い合わせ</h2>
     <ul class="contact__list">
      <li>
        <a href="/support/inquiry/" class="contact__btn">
          <span class="contact__mail">フォームで問い合わせる</span>
        </a>
      </li>
      <li>
        <a href="/consumer/contact/" class="contact__btn">
          <span class="contact__tel">電話で問い合わせる</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<div class="footer__seminar semi inner" id="footer_seminar">
	<h2>セミナー・イベント情報</h2>
	<ul class="semi__list"></ul>
	<p class="footer__seminar-more"><a href="/information/seminar_info/">More &gt;</a></p>
</div>

<div class="pagetop"><img src="/images/img_gotop.png" alt="pagetop"></div>

<div class="footer inner">
	<div class="footer__list">
		<div class="footer__item twocolumn">
			<p class="footer__item-name"><a href="/tool/">ツールを探す</a></p>
			<div class="twocolumn_wrap">
				<ul>
					<li><a href="/tool/kasika/">KASIKA</a></li>
					<li><a href="/tool/kuchico/">クチコプレミアム</a></li>
					<li><a href="/tool/risk_manage/">災害対策の手引き（災害リスク）</a></li>
					<li><a href="/tool/hospidesk/">おもてなしデスク</a></li>
					<li><a href="/tool/callservice/">LIXILコールサービス</a></li>
					<li><a href="/tool/kpremium/">顧客プレミアム</a></li>
					<li><a href="/tool/mokei/">住宅模型</a></li>
					<li><a href="/tool/information_sharing/">LIXIL現場情報共有システム</a></li>
				</ul>
				<ul>
					<li><a href="/tool/webtool/">Webツール</a></li>
					<li><a href="/tool/buildersweb/">ビルダーズWeb</a></li>
					<li><a href="/tool/ienet/">いい家ネット</a></li>
					<li><a href="/tool/constrution/">グッドリビング友の会工事保険</a></li>
					<li><a href="/tool/sphp/">Simple Page（シンプルページ）</a></li>
					<li><a href="/tool/hp_make/">ホームページ制作・改修サービス</a></li>
					<li><a href="/tool/smile_fp/">マイホーム名人</a></li>
					<li><a href="/tool/lemadri/">暮らしの情報誌 レ・マドリ</a></li>
					<li><a href="/tool/rousai/">Good Living友の会業務災害補償保険</a></li>
				</ul>
				<ul>
					<li><a href="/tool/movie_make/">Good Living 動画編集サービス</a></li>
					<li><a href="/tool/myhm/">myhm（マイホム）</a></li>
					<li><a href="/tool/logsystem/">Log System（ログシステム）</a></li>
					<li><a href="/tool/shintairiku/">新大陸 for Good Living 友の会</a></li>
					<li><a href="/tool/warphome/">WARP HOME</a></li>
					<li><a href="/tool/lashinban/">ラシンバン 4×4</a></li>
					<li><a href="/tool/sugoyama/">すごいよ山下くん</a></li>
					<li><a href="/tool/benefit-one/">ベネフィット・ステーション</a></li>
<!-- 					<li class="none"></li> -->
				</ul>
			</div>
		</div>
		<div class="footer__item">
			<p class="footer__item-name"><a href="/information/seminar_info/">セミナー・イベント情報</a></p>
			<ul>
				<li><a href="/information/seminar_info/">セミナー</a></li>
				<li><a href="/information/contest/">LIXILメンバーズコンテスト</a></li>
				<li><a href="/information/contest-brand/">LIXILメンバーズコンテスト受賞のメリット</a></li>
				<li><a href="/information/contest/interview/2024/report/">LIXILメンバーズコンテスト2024レポート</a></li>
				<li><a href="/information/contest-brand/2024premiumsalon-part1/">プレミアムサロン2024開催レポート</a></li>
			</ul>
			<p class="footer__item-name">国の政策・市場動向</p>
			<ul>
				<li><a href="/information/na_policy/">各種情報</a></li>
				<li class="none"></li>
			</ul>
		</div>
		<div class="footer__item footer--aboutus">
			<p class="footer__item-name">ABOUT US</p>
			<ul>
				<li><a href="/aboutus/">Good Living友の会</a></li>
				<li><a href="/benefits/">会員さま特典のご案内</a></li>
				<li><a href="/support/inquiry/join.html">ご入会について</a></li>
				<li class="none"></li>
			</ul>
		</div>
		<div class="footer__tm pc_block"><a href="/"><img src="/images/tomonokai_logo.png" alt="Good Living 友の会"></a></div>
		<div class="footer__lixil pc_block"><a href="https://www.lixil.co.jp/" target="_blank"><img src="/images/lixil_logo.png" alt="LIXIL"></a></div>
	</div>
	<div class="footer__bottom">
		<ul class="footer__other">
			<li><a href="https://www.lixil.co.jp/termsofuse/" target="_blank">株式会社LIXILウェブサイト ご利用条件</a></li>
			<!-- <li><a href="">Good Living 友の会会則</a></li> -->
			<li><a href="https://www.lixil.co.jp/privacy/?_ga=2.119251789.514572135.1615767304-984599157.1614219060" target="_blank">プライバシーポリシー</a></li>
		</ul>
		<div class="footer__tm sp_block"><a href="/"><img src="/images/tomonokai_logo.png" alt="Good Living 友の会"></a></div>
		<div class="footer__lixil sp_block"><a href="https://www.lixil.co.jp/" target="_blank"><img src="/images/lixil_logo.png" alt="LIXIL"></a></div>
		<p class="footer__copy">
			This site is protected by reCAPTCHA and the Google
			<a href="https://policies.google.com/privacy">Privacy Policy</a> and
			<a href="https://policies.google.com/terms">Terms of Service</a> apply.
		</p>
		<p class="footer__copy">Copyright© LIXIL Corporation. All rights reserved.</p>
	</div>
</div>
