<div class="header">
	<div class="header__top inner">
		<div class="header__logo"><a href="/"><img src="/images/tomonokai_logo.png" alt="Good Living 友の会"></a></div>
		<div class="header__guide">
			<script src="https://cloud.google.com/ai/gen-app-builder/client?hl=ja"></script>
			<gen-search-widget
			configId="4c8b02ca-17d4-41a8-b104-3c916bd4b62f"
			triggerId="searchWidgetTrigger">
			</gen-search-widget>
			<div class="search-container" id="searchWidgetTrigger" onmousedown="window.dataLayer = window.dataLayer || []; dataLayer.push({'event': 'Click', 'eventCategory': 'click', 'eventAction': 'search_widget_click', 'eventLabel': '検索ウィジェット'});">
				<img src="/images/magnifying-glass-solid.svg" id="searchWidgetTrigger" alt="検索" class="search-icon">
				<label class="search-label" id="searchWidgetTrigger">サイト内検索</label>
			</div>
			<a href="/information/mail_magazine/" class="header__merumaga"><span class="pc_block">メルマガ登録　&gt;</span></a>
			<a href="/member/index.html" class="header__member" target="_blank" rel="noopener">会員さま専用サイトへ</a>
			<div class="header__menu"><img src="/images/menu.png" alt="menu"></div>
			<nav class="header__nav">
				<div class="header__close"><img src="/images/menu_close.png" alt="close"></div>
				<div class="header__nav-box">
					<p class="header__nav-name home"><a href="/">HOME</a></p>
				</div>
				<div class="header__nav-box">
					<p class="header__nav-name tool-menu"><a href="/tool/">ツールを探す</a></p>
					<ul>
						<li><a href="/tool/kasika/">KASIKA</a></li>
						<li><a href="/tool/kuchico/">クチコプレミアム</a></li>
						<li><a href="/tool/risk_manage/">災害対策の手引き（災害リスク）</a></li>
						<li><a href="/tool/hospidesk/">おもてなしデスク</a></li>
						<li><a href="/tool/callservice/">LIXILコールサービス</a></li>
						<li><a href="/tool/kpremium/">顧客プレミアム</a></li>
						<li><a href="/tool/mokei/">住宅模型</a></li>
						<li><a href="/tool/information_sharing/">LIXIL現場情報共有システム</a></li>
						<li><a href="/tool/webtool/">Webツール</a></li>
						<li><a href="/tool/buildersweb/">ビルダーズWeb</a></li>
						<li><a href="/tool/ienet/">いい家ネット</a></li>
						<li><a href="/tool/constrution/">グッドリビング友の会工事保険</a></li>
						<li><a href="/tool/sphp/">Simple Page（シンプルページ）</a></li>
						<li><a href="/tool/hp_make/">ホームページ制作・改修サービス</a></li>
						<li><a href="/tool/smile_fp/">マイホーム名人</a></li>
						<li><a href="/tool/rousai/">Good Living友の会業務災害補償保険</a></li>
						<li><a href="/tool/lemadri/">暮らしの情報誌 レ・マドリ</a></li>
						<li><a href="/tool/movie_make/">Good Living 動画編集サービス</a></li>
						<li><a href="/tool/myhm/">myhm（マイホム）</a></li>
						<li><a href="/tool/logsystem/">Log System（ログシステム）</a></li>
						<li><a href="/tool/shintairiku/">新大陸 for Good Living 友の会</a></li>
						<li><a href="/tool/warphome/">WARP HOME</a></li>
						<li><a href="/tool/lashinban/">ラシンバン 4×4</a></li>
						<li><a href="/tool/sugoyama/">すごいよ山下くん</a></li>
						<li><a href="/tool/benefit-one/">ベネフィット・ステーション</a></li>
					</ul>
				</div>
				<div class="header__nav-box">
					<p class="header__nav-name seminar"><a href="/information/seminar_info/">セミナー・イベント情報</a></p>
					<ul>
						<li><a href="/information/seminar_info/">セミナー</a></li>
						<li><a href="/information/contest/">LIXILメンバーズコンテスト</a></li>
						<li><a href="/information/contest-brand/">LIXILメンバーズコンテスト受賞のメリット</a></li>
						<li><a href="/information/contest/interview/2024/report/">LIXILメンバーズコンテスト2024レポート</a></li>
						<li><a href="/information/contest-brand/2024premiumsalon-part1/">プレミアムサロン2024開催レポート</a></li>
					</ul>
				</div>
				<div class="header__nav-box">
					<p class="header__nav-name subsidy">国の政策・市場動向</p>
					<ul>
						<li><a href="/information/na_policy/">各種情報</a></li>
					</ul>
				</div>
				<div class="header__nav-box">
					<p class="header__nav-name special">特集・連載など</p>
					<ul>
						<li><a href="/special/sekkeiryoku/">特集記事</a></li>
						<li><a href="/information/thing/legal/">連載：法律講座</a></li>
						<li><a href="/information/thing/case/">連載：住まいと匠の技</a></li>
						<li><a href="/information/thing/learning/">連載：となりの会社に学ぶ</a></li>
						<li><a href="/information/herstory2nd/back_number01.html">連載：女性のホンネ！女性が「集まる店」「集まらない店」</a></li>
						<li><a href="/tool/voice_list/">スペシャルインタビュー&ツール利用者の声</a></li>
					</ul>
				</div>
				<div class="header__nav-box">
					<p class="header__nav-name aboutus">ABOUT US</p>
					<ul>
						<li><a href="/aboutus/">Good Living友の会</a></li>
						<li><a href="/benefits/">会員さま特典のご案内</a></li>
						<li><a href="/support/inquiry/join.html">ご入会について</a></li>
					</ul>
				</div>
				<div class="header__nav-box header__nav-box--contact">
					<p class="header__nav-name sprt">お問い合わせ</p>
					<ul>
						<li>
							<a href="/support/inquiry/" class="contact__btn">
								<span class="contact__mail">フォームで問い合わせる</span>
							</a>
						</li>
						<li>
							<a href="/consumer/contact/" class="contact__btn">
								<span class="contact__tel">電話で問い合わせる</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="header__line pc_block"></div>

	<div class="header__bottom pc_block">
		<ul class="inner">
			<li><a href="/"><img src="/images/home.png" alt="home"></a></li>
			<li><a href="/tool/">ツールを探す</a></li>
			<li><a href="/information/seminar_info/">セミナー・イベント情報</a></li>
			<li><a href="/information/na_policy/">国の政策・市場動向</a></li>
			<li><a href="/aboutus/">ABOUT US</a></li>
			<li><a href="/benefits/">会員さま特典のご案内</a></li>
			<li><a href="/support/inquiry/join.html">ご入会について</a></li>
		</ul>
	</div>
</div>
